header {
    border-radius: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    white-space: nowrap;
    background-color: #ccccf8;
    justify-content: start;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 50px;
}

.menu {
    display: flex;
    align-items: center;
    white-space: nowrap;
    justify-content: space-between;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 5px;
}

.menu_list {
    display: flex;
    margin-right: 2.3em;
    list-style-type: none;
    white-space: nowrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.menu_list a {
    padding: 0 30px;
    font-size: 1.3em;
    font-weight: bold;
    color: rgb(44, 44, 44);
    text-transform: uppercase;
    transition: 0.5s linear;
}

.menu_list a:hover {
    color: #ff7301;
    border-bottom: 1px solid #ff7301;
}

@media (max-width: 780px) {
    .menu_icon {
        z-index: 51;
        display: block;
        position: relative;
        width: 30px;
        height: 18px;
        cursor: pointer;
    }
    .menu_icon span,
    .menu_icon::before,
    .menu_icon::after {
        left: 0;
        position: absolute;
        height: 10%;
        width: 100%;
        transition: all 0.3s ease 0s;
        background-color: #fff;
    }
    .menu_icon::before,
    .menu_icon::after {
        content:"";
    }
    .menu_icon::before {
        top: 0;
    }
    .menu_icon::after {
        bottom: 0;
    }
    .menu_icon span {
        top: 50%;
        transform: scale(1) translate(0px, -50%);
    }
    .menu_icon._active span {
        transform: scale(0) translate(0px, -50%);
    }
    .menu_icon._active::before {
        top: 50%;
        transform: rotate(-45deg) translate(0px, -50%);
    }
    .menu_icon._active::after {
        bottom: 50%;
        transform: rotate(45deg) translate(0px, 50%);
    }

    .menu {
        position: fixed;
        z-index: 50;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background-color: rgba(52, 52, 52, 0.9);
        padding: 100px 30px 30px 30px;
        transition: left 0.3s ease 0s;
        overflow: auto;
    }
    .menu._active {
        left: 0;
    }

    .menu_list {
        flex-direction: column;
    }

    .menu_list > li{
        flex-wrap: wrap;
        margin: 0px 0px 30px 0px;
    }
    .menu_list > li:last-child {
        margin-bottom: 0;
    }
    .menu_link {
        font-size: 24px;
    }
}